/*
 * Add styles that apply globally here such as code syntax highlighting,
 * typography, style resets, etc.
 * Also generated HTML content from Markdown needs to be styled globally
 * since we can't use React components with emotion in them.
 *
 * NOTE: if you need theme values or responsive styles DON'T add the style
 * definitions here!!! Create a styling file under `src/styles` and then use
 * the `theme.js` object and the `media` helper func from `src/utils`.
 */

html {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: #222;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding: 0;
  line-height: 1.5;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  position: relative;
}

* {
  box-sizing: border-box;
  word-break: break-word;
}

img {
  max-width: 100%;
}

/* Code syntax highlight */
pre[class*='language-'] {
  border-radius: 2px !important;
}

:not(pre) > code[class*='language-'] {
  padding: 4px 6px !important;
  border-radius: 2px !important;
}