---
name: 'build images'

on:
  push:
    branches:
      - dev
      - canary
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Set environment
        run: |
          SUFFIX="-${GITHUB_REF##*/}"
          if [ "$SUFFIX" = "master" ]; then
            SUFFIX=
          fi
          echo "SUFFIX=${SUFFIX}" >> $GITHUB_ENV

      - name: Checkout
        uses: actions/checkout@v2

      - name: Set up QEMU
        uses: docker/setup-qemu-action@master
        with:
          platforms: all

      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@master

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build cli
        uses: docker/build-push-action@v2
        with:
          builder: ${{ steps.buildx.outputs.name }}
          context: .
          file: ./docker/Dockerfile-cli
          platforms: linux/amd64,linux/arm64
          push: true
          tags: ghcr.io/taitounited/taito-cli:cli${{ env.SUFFIX }}

      - name: Build ci
        uses: docker/build-push-action@v2
        with:
          builder: ${{ steps.buildx.outputs.name }}
          context: .
          file: ./docker/Dockerfile-ci
          platforms: linux/amd64,linux/arm64
          push: true
          tags: ghcr.io/taitounited/taito-cli:ci${{ env.SUFFIX }}

      - name: Build ci-all
        uses: docker/build-push-action@v2
        with:
          builder: ${{ steps.buildx.outputs.name }}
          context: .
          file: ./docker/Dockerfile-ci-all
          platforms: linux/amd64,linux/arm64
          push: true
          tags: ghcr.io/taitounited/taito-cli:ci-all${{ env.SUFFIX }}

      - name: Build ci-aws
        uses: docker/build-push-action@v2
        with:
          builder: ${{ steps.buildx.outputs.name }}
          context: .
          file: ./docker/Dockerfile-ci-aws
          platforms: linux/amd64,linux/arm64
          push: true
          tags: ghcr.io/taitounited/taito-cli:ci-aws${{ env.SUFFIX }}

      - name: Build ci-azure
        uses: docker/build-push-action@v2
        with:
          builder: ${{ steps.buildx.outputs.name }}
          context: .
          file: ./docker/Dockerfile-ci-azure
          platforms: linux/amd64,linux/arm64
          push: true
          tags: ghcr.io/taitounited/taito-cli:ci-azure${{ env.SUFFIX }}

      - name: Build ci-do
        uses: docker/build-push-action@v2
        with:
          builder: ${{ steps.buildx.outputs.name }}
          context: .
          file: ./docker/Dockerfile-ci-do
          platforms: linux/amd64,linux/arm64
          push: true
          tags: ghcr.io/taitounited/taito-cli:ci-do${{ env.SUFFIX }}

      - name: Build ci-gcp
        uses: docker/build-push-action@v2
        with:
          builder: ${{ steps.buildx.outputs.name }}
          context: .
          file: ./docker/Dockerfile-ci-gcp
          platforms: linux/amd64,linux/arm64
          push: true
          tags: ghcr.io/taitounited/taito-cli:ci-gcp${{ env.SUFFIX }}

      - name: Build ci-openshift
        uses: docker/build-push-action@v2
        with:
          builder: ${{ steps.buildx.outputs.name }}
          context: .
          file: ./docker/Dockerfile-ci-openshift
          platforms: linux/amd64,linux/arm64
          push: true
          tags: ghcr.io/taitounited/taito-cli:ci-openshift${{ env.SUFFIX }}

      - name: Build all
        uses: docker/build-push-action@v2
        with:
          builder: ${{ steps.buildx.outputs.name }}
          context: .
          file: ./docker/Dockerfile-all
          platforms: linux/amd64,linux/arm64
          push: true
          tags: ghcr.io/taitounited/taito-cli:ci-all${{ env.SUFFIX }}
